<div class="container mt-5">
  <div class="row">
    <div class="col-3 border"> 
      <img src="https://unsplash.com/photos/F_-0BxGuVvo" alt="blog"> 
    </div>
    <div class="col-9 border">
      <h2> User name </h2>
      <h6 class="d-flex justify-content-end"> Number of posts: x</h6>
    </div>
  </div>
</div>