<div class="container m-5">
  <% @users.each do |user| %>
    <%= link_to(user) do %>
      <div class="row">
        <div class="col-3 border"> 
          <img src="<%= user.photo %>" alt="profile photo" />
        </div>
        <div class="col-8 offset-1 border">
          <h2> <%= user.name %> </h2>
          <h6 class="d-flex justify-content-end"> Number of posts: <%= user.posts_counter || 0 %>  </h6>
        </div>
      </div>
    <% end %>
  <% end %>
</div>