<%= form_with url: "/users/#{@post.author_id}/posts/#{@post.id}/comments", scope: :comment do |form| %> 
  <div> 
    <%= form.text_area :text, placeholder: "Add your comment...", rows: 14, required: true %> 
    <%= form.submit "Comment" %> 
  </div> 
<% end %> 