<div>
  <h2>Create a post</h2>
  <%= form_with model: @post, url: user_posts_path, scope: :post do |form| %>  
    <%= form.text_field :title, placeholder: "Title", required: true %>
    <%= form.text_area :text, placeholder: "Type here...", required: true %>
    <%= form.submit "Post" %>
  <% end %> 
</div>